.content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 8dvw;

    .campBattle {
        background-image: url("../imgs/waveInit.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        display: grid;
        gap: 0.1rem;

        width: max-content;

        transform: perspective(3000px) rotateX(45deg);
        /*Deixa o campo em trapézio*/
        transform-style: preserve-3d;
        /*Avisa que os elementos devem permanecer 3d*/

        padding: 25px;

        #comboImage {
            display: none;
            position: absolute;
            z-index: 99;

            opacity: 0;

            transition: opacity 0.5s;

            transform: rotateX(-50deg);
            transform-origin: center bottom;

            top: 25%;
            left: 7%;
        }

        .celCamp {
            background-size: 100% 100%;
            /*força a imagem a se ajustar ao elemento*/
            background-repeat: no-repeat;
            background-position: center;

            height: 70px;
            width: 70px;

            transition: transform 0.5s ease-in-out, background 0.2s, border 0.3s;
            transform-origin: center bottom;
            /*Coloca o 'ponto central' de cada eixo*/

            &:hover {
                cursor: pointer;
            }
        }
    }

    .nav-bar {

        .menu-bar {

            #menu-bar_list {
                display: flex;
                align-items: initial;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                list-style: none;

                .menu-bar_itens {

                    .heartsLife {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 0.5rem;

                        i {
                            color: red;

                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}