@import url(./content.css);
@import url(./header.css);
@import url(./tipografias);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imgs/background_plaia_top.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}