@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Slackey&display=swap'); /*Slackey*/

/*.slackey-regular {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/